@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: #000000;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1800px;
    flex-wrap: wrap;
    z-index: 1;
    margin-top: 72px;
}

.container .card {
    position: relative;
    width: 430px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(11px) brightness(50%);
    backdrop-filter: blur(11px) brightness(50%);
    height: min-content;
    transition: 0.5s;
    min-height: 300px;
    zoom: 80%;
}

.container .bypass {
    min-height: 0px;
}

.container .adblocker {
    min-height: 0px;
}

.container .card:hover {
    transform: translateX(4px) rotate3d(0, 0, 1, 0.15deg);
    background: rgba(255, 255, 255, 0.12);
}

.container .card .content {
    padding: 20px;
    text-align: center;
    width: 430px;
    transition: 0.5s;
}

.container .card .content h3 {
    font-size: 1.8em;
    color: #efefff;
    z-index: 1;
}

.container .card .content .text {
    font-size: 1.08em;
    color: #ffffff;
    font-weight: 350;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.6);
    text-align: left;
}

.container .card .content .text a {
    color: #bbd5ff;
    text-decoration: none;
    text-shadow: 0px 0px 10px rgba(183, 211, 255, 0.9);
}

body {
    overscroll-behavior: none;
}

#background {
    z-index: -1; 
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
    -webkit-filter: blur(8px) brightness(30%) saturate(30%);
    filter: blur(8px) brightness(30%) saturate(30%);
}


.container .card .content .text button, .excard button {
    margin-top: 10px;
    width: 385px;
    height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius: 5px;
    border-style: solid;
    color: #ffffff;
    font-weight: 600;
    border-bottom-color: #00000000;
    border-right-color: #00000000;
    border-top-color: #afafaf4f;
    border-left-color: #afafaf4f;
    font-size: 0.9em;
    background-color: #ffffff4f;
}

.g {
    color: #6fff6f;
}

.n {
    color: #ffff6f;
}

.b {
    color: #ff6f6f;
}

hr {
    margin-top: 8px;
    margin-bottom: 5px;
    border-radius: 50%;
    opacity: 50%;
    border-color: #ffffffb0;
    -webkit-filter: blur(1px);
    filter: blur(1px);
}

.icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 12px;
}

.icon {
    width: 20px;
    height: 20px;
    background-size: 28px;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid #ffffff40;
    border-radius: 4px;
    padding: 22px;
    margin-right: 2px;
    margin-top: 3px;
}

.windows {
    background-image: url("assets/icons/windows.svg");
}

.android {
    background-image: url("assets/icons/android.svg");
}

.macos {
    background-image: url("assets/icons/macos.svg");
    background-size: 50px;
}

.ios {
    background-image: url("assets/icons/ios.svg");
}

.topbar {
    overflow: hidden;
    background-color: #ffffff20;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 99;
    -webkit-backdrop-filter: blur(18px);
    backdrop-filter: blur(18px);
    overflow: visible;
    z-index: 102;
}

.topbar a {
    float: right;
    text-align: center;
    padding: 18px 16px;
    background-color: #ffffff30;
    margin-left: 2px;
    cursor: pointer;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}

.topbar a:hover {
    background-color: #ffffff40;
}

.topbar .pagename {
    text-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
    float: left;
    display: block;
    text-align: center;
    background-color: #ffffff30;
    margin-right: 2px;
    height: 100%;
    padding: 3px 20px;
    color: #e0e0e0;
}

.content h3 {
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.active {
    color: #e0e0e0;
    backdrop-filter: brightness(60%);
}

#exploits {
    margin-top: 52px;
}

.filterbuttoncontainer {
    top: 72px;
    left: 11px;
    position: absolute;
    display: flex;
}

.filterbuttoncontainer button {
    border-radius: 6px;
    width: 50px;
    height: 50px;
    background-color: #00000000;
    backdrop-filter: blur(5px) brightness(80%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    background-image: url("assets/icons/filter.svg");
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.filter-icon-container {
    justify-content: center;
    float: left;
    margin-left: 5px;
    display: flex;
    transition: .4s;
    transition-timing-function: ease-in-out;
}

.filterico {
    cursor: pointer;
    transition: 0.25s;
    background-color: #ffffff00;
}

.filterico.active {
    background-color: #5ffa5f80;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #444444; 
}

::-webkit-scrollbar-thumb {
    background: #888888; 
    border-radius: 3px;
}

.small {
    font-size: xx-small;
}

.small a {
    color: #98afd4;
    text-decoration: none;
}

#contents {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

#sidebar {
    display: none;
}

.hamburger {
    width: 130px;
    height: 60px;
    font-size: 1.5em;
    line-height: 1em;
    color: #e0e0e0;
    display: block;
}

@media screen and (max-width: 400px) {
    .container .card .content .text {
        font-size: smaller;
    }
}

#sidebar {
    height: 100%;
    width: 600px;
    z-index: 103;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #a0a0a0;
    transition: 0.2s;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

@media screen and (max-width: 900px) {

    .container .card {
        width: 90vw;
    }
    
    .container .card .content {
        width: 90vw;
    }
    
    .container .card .content .text button {
        width: 100%;
    }

    #sidebar {
        width: 70vw;
    }

}

#sidebar img {
    width: calc(100% + 40px);
    height: calc(100% + 40px);
    position: absolute;
    z-index: -1;
    -webkit-filter: blur(12px) brightness(30%) saturate(30%);
    filter: blur(12px) brightness(30%) saturate(30%);
    margin: -20px -20px -20px -20px;
}

#sidebar a {
    color: #d0d0d0;
    font-size: larger;
    padding: 10px;
}

#sidebar a.active {
    color: #efefef;
}

#overlay {
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
}

h1, h2 {
    color: #efefef;
}

.editbutton {
    font-size: small;
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ffffff20;
    border-radius: 8px;
    cursor: pointer;
    color: #efefef;
    text-shadow: none;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 2px;
}

.dataimportbuttoncontainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dataimportbuttoncontainer button {
    padding: 5px;
    margin-right: 2px;
    border-radius: 5px;
    border-style: solid;
    background-color: #00000000;
    -webkit-backdrop-filter: blur(8px) brightness(90%);
    backdrop-filter: blur(8px) brightness(90%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
}

.issue {
    min-width: 60vw;
}

.issuedate {
    color: #a0a0a0;
    position: absolute;
    top: 8px;
    left: 13px;
}

.issueauthor {
    color: #a0a0a0;
    position: absolute;
    top: calc(1em + 10px);
    left: 13px;
}

.issue .content {
    min-width: 60vw;
}

.issue .content .text {
    font-size: 0.95em !important;
}

.issue .content h2 {
    margin-top: 40px;
}

#issues {
    flex-direction: column;
}

#issues button {
    padding: 5px;
    margin-right: 2px;
    border-radius: 5px;
    border-style: solid;
    background-color: #00000000;
    -webkit-backdrop-filter: blur(8px) brightness(90%);
    backdrop-filter: blur(8px) brightness(90%);
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    color: #ffffff;
    font-size: medium;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}

#issuetitle {
    margin-bottom: 8px;
    text-align: center;
} 

.openongithubbutton {
    font-size: small;
    vertical-align: middle;
    display: inline-block;
    padding: 5px;
    border: 1px solid #ffffff20;
    border-radius: 8px;
    cursor: pointer;
    color: #efefef;
    text-shadow: none;
    font-weight: 500;
    margin-bottom: 6px;
    margin-top: 2px;
    margin-left: 10px;
}

.popuptext {
    display: flex;
    width: 120px;
    background-color: #555555d0;
    color: #ffffff;
    text-align: center;
    position: relative;
    padding: 8px;
    z-index: 1;
    bottom: -140%;
    right: 15px;
    border-radius: 5px;
    font-size: x-small;
}

.popuptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #555 transparent;
}

#credits .container {
    flex-direction: column;
    padding-left: 30px;
    padding-right: 30px;
}

#credits .container p {
    color: #ffffff;
    text-shadow: 0px 0px 7px #ffffff7f;
    text-align: center;
}

#credits .container hr {
    width: 500px;
}

.excard {
    position: relative;
    width: 800px;
    margin: 20px;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    -webkit-backdrop-filter: blur(11px) brightness(50%);
    backdrop-filter: blur(11px) brightness(50%);
    height: min-content;
    transition: 0.5s;
    height: 330px;
    zoom: 80%;
}

.excard:hover {
    transform: translateX(4px) rotate3d(0, 0, 1, 0.15deg);
    background: rgba(255, 255, 255, 0.12);
}

.excard .content {
    padding: 20px;
    text-align: center;
    transition: 0.5s;
}

.exname {
    position: absolute;
    left: 20px;
    top: 20px;
    width: 350px;
    height: 60px;
    text-align: center;
}

.exprocon {
    position: absolute;
    left: 20px;
    top: 90px;
    width: 350px;
    height: 218px;
    overflow-y: scroll;
    overflow-x: hidden;
    text-align: left;
}

.exmeta {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 350px;
    display: flex;
    flex-direction: column;
}

.exdata {
    display: flex;
    flex-direction: row;
    height: 40px;
}

.exdatalabel {
    color: #ffffff;
    text-align: left;
    width: 200px;
    position: relative;
    left: 10px;
    top: 10px;
}

.exdatavalue {
    color: #ffffff;
    text-align: right;
    width: 200px;
    position: relative;
    right: 10px;
    top: 10px;
}

#credits .container hr {
    width: 350px;
}

#credits .container h1 {
    margin-bottom: 20px;
    font-size: 50px;
}

.explatforms {
    position: absolute;
    right: 20px;
    top: 143px;
    width: 350px;
}

.explatformsiconcontainer {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    margin-bottom: 20px;
}

.exfeatures {
    width: 350px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 65px;
    right: 20px;
}

.exfeatures hr {
    margin-left: 10px;
    margin-right: 10px;
    width: 1px;
    height: 30px;
}

.excard button {
    width: 350px;
    position: absolute;
    bottom: 20px;
    right: 20px;
}